<div class="section valign">

  <!--   Icon Section   -->
  <div class="row ">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons large">receipt</i></h2>
        <h4 class="center">Calculate your totals</h4>

        <p class="light flow-text">Easily handle complicated transactions with product that is either on-the-fly or stored with your account.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons large">multiline_chart</i></h2>
        <h4 class="center">Track your sales</h4>

        <p class="light flow-text">Track your sales by a number of different metrics. You can track your success using products, prices, and more.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons large">settings</i></h2>
        <h4 class="center">Highly Configurable</h4>

        <p class="light flow-text">There are tons of options to create &amp; manage your list of products, inventory, users, etc. You can also decide which options you want to use or don't want to use. It is all up to you!</p>
      </div>
    </div>
  </div>

</div>
<br><br>

<div class="section">

</div>