/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */
@import "fonts";
@import "materialize/components/color";
@import "materialize/components/variables";
@import "materialize";
@import "mixins";

// margin-remove, margin-remove-top, margin-remove-bottom, etc.
$element-attributes: ( 'margin', 'padding');
$directions: ('top', 'right', 'bottom', 'left');
@each $attribute in $element-attributes {
    .#{$attribute}-remove {
        #{$attribute}: 0 !important;
        @each $direction in $directions {
            &-#{$direction} {
                #{$attribute}-#{$direction}: 0 !important;
            }
        }
    }
}

@for $i from 1 through 10 {
    .large-text-#{$i} {
        font-size: #{$i}em;
    }
}
/* TEXT */
.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}
/* ICONS */
.icon-block {
    padding: 0 15px;
}
/* COLORS */
$custom_colors: ( 'custom-blue':#3b73b9 , 'light-blue':#3581C1, 'navy-blue':#153760, 'dark-gray': #444444, 'med-gray': #888888, 'light-gray': #F1F1F1, 'green': #2FB896, 'purple': #5344C1, 'orange': #FFB741 );
@each $color_name, $color in $custom_colors {
    .#{$color_name} {
        background-color: $color !important;
    }

    .#{$color_name}-text {
        color: $color !important;
    }
}

.blue-grey-text.lighten-3 {
    color: #b0bec5!important;
}
/* ALERTS */
.flash-container {
    min-height: 50px;

    .flash {
        margin: 0 auto;
        width: 100%;
        top: 12%;
        position: relative;
        text-align: center;
        padding: 10px;

        &.alert {
            background-color: rgba(color('materialize-red', 'lighten-2'), .6);
            color: #fafafa !important;
        }

        &.notice {
            background-color: rgba(color('light-blue', 'base'), .6);
            color: #fafafa !important;
        }
    }
}
/* NAV BAR */
.dropdown-content {
    overflow-y: hidden!important;
}
/* FORM CUSTOMIZATIONS */
.form-actions {
    padding-top: 20px;
}

.new_sale{
    fieldset{
      border:none;
      padding-bottom:10px;
    }
}

/* FORM ERRORS */
.error_notification {
    color: rgba(color('materialize-red', 'lighten-2'), .9);
}

form {
    .error {
        color: rgba(color('materialize-red', 'lighten-2'), .9);
    }
}
/* Home page */
section {
    min-height: 200px;
    width: 100vw;
    position: relative;

    &.home-banner-section {
        margin-top: -50px;
        padding-top: 50px;
        height: 600px;

        .background-full {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-size: cover;
            z-index: -1;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);

            .background-overlay {
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-size: cover;
                opacity: 0.6;
            }
        }
    }

    .banner {
        h1 {
            font-size: 5em;
            line-height: 120px;
        }

        blockquote {
            font-size: 1.2em;
        }
    }
}
/* DASHBOARD PAGE */
.dashboard {
    .icon-block {
        padding: 10px;
        margin: 10px;
        border: 1px dashed #ddd;
        box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgba(color('light-blue', 'base'), .6);
            color: white;
            cursor: pointer;

            .material-icons {
                color: white;
            }
        }
    }
}

/* SWEETALERT */
body.stop-scrolling{
  height: auto!important;
}

/* TYPED */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}