/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2");
}
/* line 10, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_fonts.scss */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */
/* line 9, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.icon-block {
  padding: 0 15px;
}

/* line 12, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.icon-block .material-icons {
  font-size: inherit;
}

/* COLORS */
/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.tessco-blue {
  background-color: #3b73b9 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.tessco-blue-text {
  color: #3b73b9 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.light-blue {
  background-color: #3581C1 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.light-blue-text {
  color: #3581C1 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.navy-blue {
  background-color: #153760 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.navy-blue-text {
  color: #153760 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.dark-gray {
  background-color: #444444 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.dark-gray-text {
  color: #444444 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.med-gray {
  background-color: #888888 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.med-gray-text {
  color: #888888 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.light-gray {
  background-color: #F1F1F1 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.light-gray-text {
  color: #F1F1F1 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.green {
  background-color: #2FB896 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.green-text {
  color: #2FB896 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.purple {
  background-color: #5344C1 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.purple-text {
  color: #5344C1 !important;
}

/* line 30, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.orange {
  background-color: #FFB741 !important;
}

/* line 33, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.orange-text {
  color: #FFB741 !important;
}

/* ALERTS */
/* line 39, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.flash {
  margin: 0 auto;
  width: 50%;
  top: 15%;
  transform: translate(50%);
  position: absolute;
  text-align: center;
  padding: 10px;
}

/* NAV BAR */
/* line 54, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.dropdown-content {
  overflow-y: hidden !important;
}

/* FORM CUSTOMIZATIONS */
/* line 59, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_main.scss */
.form-actions {
  padding-top: 20px;
}
/* line 13, C:/xampp_php5.4/htdocs/scapes_pos/app/assets/stylesheets/framework/_mixins.scss */
.icon-rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*




*/
