<h1>Editing event</h1>
<%= simple_form_for [current_team, @event], url: team_event_path(@event) do |f| %>
<%= render 'form', f: f %>
<% end %>
<%= link_to 'Show', team_event_path %> |
<%= link_to 'Back', team_events_path %>
